* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
    font-family: 'Belanosima', sans-serif;
    list-style-type: none;
}
:root {
    --color-fuente: #181823;
    --color-fondo: #EFF5F5;
    --color-textohyf: #FC7300;
    --color-hyf: #1F8A70;
    --color-titulos: #00425A;
}

h1 {
    font-family: 'Poppins', sans-serif; 
}
h2 {
    font-family: 'Poppins', sans-serif; 
    color: var(--color-titulos);
    padding-bottom: 1rem;
}
h3 {
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem;
}

.headerinferior {
    height: 25rem;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo {
    width:100%;
    display: inline-block;
    color: var(--color-textohyf);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: var(--color-fuente);
}
.barra {
    padding: 1rem 1rem;
    background-color: var(--color-fuente);
    position: fixed;
    width:100%;
}

.barra ul {
    display: flex;
    justify-content: space-between;
}

.barra a {
    color: var(--color-textohyf);
    font-size: 0.8rem;
    text-align: center;
}

.contacta {
    padding-top: 1rem;
    text-align:center;
}

.form {
    justify-items: center;
    display:flex;
    flex-direction: column;
    align-items: normal;
    padding-left: 1rem;
}
label {
    display:flex;
    padding: 0.8rem;
    justify-content: center;
}
.formdatos {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:1rem;
}
.formconsulta {
    display:flex;
    flex-direction: column;
    align-items: center;
}

input {
    width:12rem;
    height: 1.5rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:0.5rem;
}
textarea {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:0.5rem;
}
button {
    font-size:1rem;
    padding: 1rem;
}
.obligatorio {
    text-align: center;
    padding: 1rem;
}
footer {
    background-color: var(--color-fuente);
    color: var(--color-hyf);
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 0.8rem;
}
.social {
    padding: 1rem 1rem;
    align-self: center;
    text-align:center;
}
.ubicacion {
    padding: 1rem 1rem;
    align-self: center;
}
.ubicacion h3 {
    text-align:center;
}
.contacto {
    padding: 1rem 1rem;
    align-self: center;
    text-align: center;
}
.contacto h3 {
    text-align:center;  
}

@media (min-width: 769px) {
    .barra a{
        font-size: 1.1rem;
        justify-content: space-around;
    }
    .titulo {
        font-size: 3rem;
    }
    .contacta {
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: left;
        font-size: 2.3rem;
    }
    .form {
        font-size: 1.1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: row;
        justify-content: space-around;
    }
    input {
        width:14rem;
        height: 1.5rem;
        font-size: 1rem;
        padding:1rem;
    }
    textarea {
        font-size: 1rem;
        padding:1rem;
    }
    button {
        border:black solid 0.1rem;
        width: 6rem;
        margin: 1rem;
        font-size: 1.2rem;
    }
footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
}
}